/*HTML elements */
html, body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    background: rgb(244, 244, 244);
    color: #333;
}

header {
    height: 100%;
}

header img {
    border-radius: 50%;
    width: 220px;
    height: 250px;
}

main {
    position: relative;
    overflow: auto;
}

/*Classes*/
.btn {
    background-color: rgb(169, 169, 169);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.grid li img {
    width: 40px;
    height: 40px;
}

#skills ul , #contact-me ul{
    list-style: none;
}

#work img {
    border-radius: 10px;
    border: 1px solid #ddd;
}

#work a {
    font-size: 1.1rem;
    margin-right: 20px;
    color: #5b5b5b;
    display: inline-block;
    text-decoration: none;
}

#contact-me a {
    font-size: 3.1rem;
    margin-right: 20px;
    color: #5b5b5b;
    display: inline-block;
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(93, 93, 93);
    color: white;
}
